CLOUD_API_TOKEN=<YOUR CLOUD TOKEN>
EXISTING_SERVER_HOST=<OWN SERVER IP>
EXISTING_SERVER_USER=root

# create new key with ssh-keygen and put path here
EXISTING_SERVER_KEY=<PATH_TO_PRIVATE_KEY>

# change it to your base project dir
BASE_PATH=~/Documents/stacker-project-examples
