.env
**/.env
stacker-projects/**/.env
stacker-projects/.deployed
stacker-projects/.visited
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.lock
**/deploy/data/certs/
.visited
.deployed
stacker-project-test
stacker-project-test.pub
EXISTING_DEPLOY_SUCCESS.md
CLOUD_DEPLOY_SUCCESS.md
BUGS.md
